.banner {
  background: url("../images/banner.jpg") center center;
  height: 71vh;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}
.banner__info {
  background-color: rgb(61, 47, 47);
  color: white;
  padding-top: 25vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  width: 300px;
  opacity: 0.8;
}
.banner__search {
  display: flex;
  flex-direction: column;
}
.banner__searchButton {
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #dac612 !important;
}
.banner__info > button {
  background-color: #d1282b;
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}
.banner__info > h5 {
  margin-top: 10px;
}
.banner__info > button:hover {
  background-color: white;
  color: tomato;
}
